<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BW | Guidelines</title>
<link rel="stylesheet" th:href="@{/css/guidelines/rules.css}" />
<link rel="stylesheet" th:href="@{/css/common.css}" />
</head>
<body>
	<div class="container">
		<nav th:replace="~{sidebar/sidebar :: content}"></nav>
		<main>
			<div class="content-header">RULES</div>
			<div class="content-body">
				<div class="rule-container">
					<div>📌 PAGINATION</div>
					<hr class="soft-gradient">
					<div>
					    <ul>
					        <li>Maintain an updated inventory of available disaster equipment.</li>
					        <li>Verify borrower eligibility before approving requests.</li>
					        <li>Ensure proper documentation of all borrowing transactions.</li>
					        <li>Enforce penalties for late returns or misuse of equipment.</li>
					        <li>Post charges for any damaged or missing equipment.</li>
					    </ul>
					</div>
				</div>
				
			</div>
		</main>
		<aside th:replace="~{aside/aside :: content}"></aside>
	</div>
</body>
</html>