<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BW | Guidelines</title>
<link rel="stylesheet" th:href="@{/css/guidelines/rules.css}" />
<link rel="stylesheet" th:href="@{/css/common.css}" />
</head>
<body>
	<div class="container">
		<nav th:replace="~{sidebar/sidebar :: content}"></nav>
		<main>
			<div class="content-header">RULES</div>
			<div class="content-body">
				<div class="rule-container">
					<div>📌 ACCOUNTABILITY RULES</div>
					<hr class="soft-gradient">
					<div>
					    <ul>
					        <li>Maintain an updated inventory of available disaster equipment.</li>
					        <li>Verify borrower eligibility before approving requests.</li>
					        <li>Ensure proper documentation of all borrowing transactions.</li>
					        <li>Enforce penalties for late returns or misuse of equipment.</li>
					        <li>Post charges for any damaged or missing equipment.</li>
					    </ul>
					</div>
				</div>
				<div class="rule-container">
					<div>📌 RESPONSIBILITY RULES</div>
					<hr class="soft-gradient">
					<div>
					    <ul>
					        <li>Provide timely approvals and efficient processing of borrowing requests.</li>
					        <li>Store equipment securely and perform regular maintenance.</li>
					        <li>Ensure borrowers understand lending policies, return deadlines, and penalties.</li>
					        <li>Ensure fairness by prioritizing requests based on urgency and availability.</li>
					        <li>Continuously improve the platform by addressing borrower feedback.</li>
					    </ul>
					</div>
				</div>
				
				<div class="rule-container">
				    <div class="title">📌 BORROWER RULES</div>
				    <ul>
				        <li>Return borrowed items on or before the due date.</li>
				        <li>Handle all borrowed equipment with care and report any damages immediately.</li>
				        <li>Use borrowed items only for their intended purpose.</li>
				        <li>Respect borrowing limits (quantity and duration).</li>
				        <li>Pay penalties for late returns, damages, or losses.</li>
				    </ul>
				</div>
				
				<div class="rule-container">
				    <div class="title">📌 LENDER RULES</div>
				    <ul>
				        <li>Provide accurate item details (condition, availability, quantity).</li>
				        <li>Ensure items are in usable condition before lending.</li>
				        <li>Clearly state borrowing terms (return date, penalties).</li>
				        <li>Respond promptly to borrower requests.</li>
				        <li>Track returned items and update inventory accordingly.</li>
				    </ul>
				</div>
			</div>
		</main>
		<aside th:replace="~{aside/aside :: content}"></aside>
	</div>
</body>
</html>