.main-content{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.overview-one{
	background: rgba(215, 238, 251, 1); /* Semi-transparent */
    border: 0.05rem solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	padding: 0.5rem;
	box-sizing: border-box;
	font-size: 0.8rem;
}

.overview-one .overview-container{
	height: 10rem;
	width: 15rem;
	padding: 0.5rem;
	box-sizing: border-box;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}