<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BW | Request Details</title>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/user/user-create.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<nav th:replace="~{sidebar/sidebar :: content}"></nav>
		<main th:object="${borrowRequestDto}">
			<div class="content-header">
			    REQUESTS > REQUEST DETAILS
			    <span th:text="*{request.status}"
				      th:class="'status ' + *{@statusUtil.normalize(request.status)}">
				</span>

			</div>

			<div class="content-body">
				<div class="content">
					<div class="btn-group">
						<button><img th:src="@{/images/approved.png}"> APPROVE</button>
						<button><img th:src="@{/images/rejected.png}"> REJECT</button>
					</div>
					<form >
					    <input type="hidden" name="encryptedId"  />
					
					    <div class="field bold">
					        <label>PERSON INFORMATION</label>
					    </div>
						<hr class="soft-gradient">
					    <div class="field">
					        <label>FIRST NAME</label>
					        <div th:text="*{borrower.firstName}" ></div>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>MIDDLE NAME</label>
					        <div th:text="*{borrower.middleName}"></div>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>FAMILY NAME</label>
					        <div th:text="*{borrower.familyName}"></div>
					    </div>
		
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>EMAIL ADDRESS</label>
					        <div th:text="*{borrower.emailAddress}"></div>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>PHONE NUMBER</label>
					        <div th:text="*{borrower.phoneNumber}"></div>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>GENDER</label>
					        <div th:text="*{borrower.gender}"></div>
					    </div>
					    <hr class="soft-gradient">
						<br>
					    <div class="field bold">
					        <label>ITEM INFORMATION</label>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>ITEM NAME</label>
					        <div th:text="*{request.itemName}" ></div>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>PRICE</label>
					        <div th:text="*{request.price}"></div>
					    </div>
					    <hr class="soft-gradient">
					    
					    <div class="field">
					        <label>NUMBER TO BORROW</label>
					        <div th:text="*{request.qty}"></div>
					    </div>
					    <hr class="soft-gradient">
					    
					    <div class="field">
					        <label>DATE TO BORROW</label>
					        <div th:text="*{request.dateToBorrow}"></div>
					    </div>
					    <hr class="soft-gradient">
					    
					    <div class="field">
					        <label>DATE TO RETURN</label>
					        <div th:text="*{request.dateToReturn}"></div>
					    </div>
					</form>


					<div class="form-btn">
						<a class="button" th:href="@{/lender/request}"><img th:src="@{/images/left-arrow.png}"> BACK</a>
					</div>
				</div>			
			</div>
		</main>
		<aside th:replace="~{aside/aside :: content}"></aside>
	</div>
	<script th:src="@{/script/loading.js}"></script>
	<script th:src="@{/script/submit.js}"></script>
</body>
</html>