<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Insert title here</title>
   </head>
   <body>
      <!-- Success fragment -->
      <div th:fragment="success" class="jb-notif-container" id="jbNotifContainerSuccess">
         <div class="jb-notif-box">
            <span class="jb-notif-badge">Success</span>
            <span class="jb-notif-message" th:text="${successMsg}">Success message here</span>
            <svg class="jb-notif-close" id="jbNotifCloseSuccess" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
               <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
            </svg>
         </div>
         <script>
            var notif = document.getElementById('jbNotifContainerSuccess');
            var closeBtn = document.getElementById('jbNotifCloseSuccess');
            
            // Close on click
            closeBtn.addEventListener('click', function() {
              notif.style.display = 'none';
            });
            
            // Automatically remove after 3 seconds
            setTimeout(() => {
              notif.style.display = 'none';
            }, 3000); // 3000ms = 3 seconds
         </script>
      </div>
      <!-- Error fragment -->
      <div th:fragment="error" class="jb-notif-container" id="jbNotifContainerError">
         <div class="jb-notif-box error">
            <span class="jb-notif-badge">Error</span>
            <span class="jb-notif-message" th:text="${errorMsg}">Error message here</span>
            <svg class="jb-notif-close" id="jbNotifCloseError" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
               <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
            </svg>
         </div>
         <script>
            var notif = document.getElementById('jbNotifContainerSuccess');
            var closeBtn = document.getElementById('jbNotifCloseSuccess');
            
            // Close on click
            closeBtn.addEventListener('click', function() {
              notif.style.display = 'none';
            });
            
            // Automatically remove after 3 seconds
            setTimeout(() => {
              notif.style.display = 'none';
            }, 3000); // 3000ms = 3 seconds
         </script>
      </div>
   </body>
</html>