<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="footer" class="max-w-[1536px] yt5gg flex w-full items-center justify-between qhvfg k3h9h vlaa8 wgevz text-sm max-md:flex-col">
	  <p class="text-base-content">
	    &copy;2025
	    <a href="https://flyonui.com/" class="text-primary">Borrowhen</a>
	  </p>
	  <div class="flex items-center qhvfg jw63w max-sm:flex-col">
	    <a href="https://flyonui.com/templates" class="text-base-content cdtv8 z0ud0 k1ga8" aria-label="More Templates" target="_blank">More Templates</a>
	    <a href="https://flyonui.com/docs/pro/templates/" class="text-base-content cdtv8 z0ud0 k1ga8" aria-label="Documentation" target="_blank">Documentation</a>
	    <a href="https://flyonui.com/support" class="text-base-content cdtv8 z0ud0 k1ga8" aria-label="Support" target="_blank">Support</a>
	    <a href="https://flyonui.com/docs/changelog-pro/" class="text-base-content cdtv8 z0ud0 k1ga8" aria-label="Changelog" target="_blank">Changelog</a>
	    <a href="https://flyonui.com/license/" class="text-base-content cdtv8 z0ud0 k1ga8" aria-label="License" target="_blank">License</a>
	  </div>
	  <div class="flex gap-4">
	    <a href="https://discord.com/invite/kBHkY7DekX" class="cdtv8 size-4.5 [--link-color:var(--color-base-content)]" aria-label="Discord Link" target="_blank">
	      <span class="icon-[tabler--brand-discord] size-4.5"></span>
	    </a>
	    <a href="https://x.com/flyonui" class="cdtv8 size-4.5 [--link-color:var(--color-base-content)]" aria-label="Twitter Link" target="_blank">
	      <span class="icon-[tabler--brand-twitter] size-4.5"></span>
	    </a>
	    <a href="https://github.com/themeselection/flyonui" class="cdtv8 size-4.5 [--link-color:var(--color-base-content)]" aria-label="Github Link" target="_blank">
	      <span class="icon-[tabler--brand-github] size-4.5"></span>
	    </a>
	  </div>
	</footer>
</body>
</html>