<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<footer th:fragment="footer" class="w-full border-t border-gray-800 py-6">
  <div class="max-w-[1280px] mx-auto flex flex-col md:flex-row items-center justify-between text-sm text-gray-400 gap-4 px-4">
    <p class="text-base-content text-center md:text-left">
      &copy;2025
      <a href="https://flyonui.com/" class="text-primary font-medium">Borrowhen</a>
    </p>

    <div class="flex flex-wrap items-center justify-center gap-4">
      <a href="https://flyonui.com/templates" class="hover:text-primary transition" target="_blank">More Templates</a>
      <a href="https://flyonui.com/docs/pro/templates/" class="hover:text-primary transition" target="_blank">Documentation</a>
      <a href="https://flyonui.com/support" class="hover:text-primary transition" target="_blank">Support</a>
      <a href="https://flyonui.com/docs/changelog-pro/" class="hover:text-primary transition" target="_blank">Changelog</a>
      <a href="https://flyonui.com/license/" class="hover:text-primary transition" target="_blank">License</a>
    </div>

    <div class="flex justify-center gap-4">
      <a href="https://discord.com/invite/kBHkY7DekX" class="hover:text-primary transition" target="_blank">
        <span class="icon-[tabler--brand-discord] size-5"></span>
      </a>
      <a href="https://x.com/flyonui" class="hover:text-primary transition" target="_blank">
        <span class="icon-[tabler--brand-twitter] size-5"></span>
      </a>
      <a href="https://github.com/themeselection/flyonui" class="hover:text-primary transition" target="_blank">
        <span class="icon-[tabler--brand-github] size-5"></span>
      </a>
    </div>
  </div>
</footer>

</body>
</html>