<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BORROWHEN | Login</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
	
	<main class="container">
		<div class="content">
			<div class="content-header">USER LOGIN</div>
			<div>
				<input type="text" placeholder="Enter username" class="glass-input">
			</div>
			<div>
				<input type="password" placeholder="Enter password" class="glass-input">
			</div>
			<div class="btn-group">
				<button class="glass-button">SIGN IN</button>
			</div>
			<div class="link-group">
				<div>Forgot Password? <a href="#">Click Here</a></div>
				<div>Don't have an account? <a href="#">Sign up</a></div>
			</div>
		</div>
		
	</main>
</body>
</html>