<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BW | Inventory</title>
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/inventory/inventory.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
		<div class="container-msg" id="msgContainer" >
			<div class="success-msg" th:if="${successMsg != null}">
				<div class="icon-msg">
					<img th:src="@{/images/check.png}" alt="success"/>
				</div>
				<div class="content-msg">
					<span class="header-msg">SUCCESS</span>
					<span class="body-msg" th:text="${successMsg}"></span>
				</div>
				<div class="progress-bar"></div>
			</div>
			<div class="error-msg" th:if="${errorMsg != null}">
				<div class="icon-msg">
					<img th:src="@{/images/check.png}" alt="success"/>
				</div>
				<div class="content-msg">
					<span class="header-msg">ERROR</span>
					<span class="body-msg" th:text="${errorMsg}"></span>
				</div>
				<div class="progress-bar"></div>
			</div>
			
			
			
		</div>
		<nav th:replace="~{sidebar/sidebar :: content}"></nav>
		<main>
			<div class="content-header">INVENTORY</div>
			<div class="content-body">
				<div class="filter">
					<div class="filter-btn">
						<button>RESET</button>
						<button class="apply-btn">APPLY</button>
					</div>
					<div class="filter-content">
						<div class="filter-title">FILTERS</div>
						<hr class="soft-gradient">
						<section>
							<p>CATEGORY</p>
							<div>
								<label>UNDER CONSTRUCTION</label>
							</div>
						</section>
						<hr class="soft-gradient">
						<section>
							<p>AVAILABILITY</p>
							<div>
								<input type="checkbox" value="AVAILABLE" class="available"/>
								<label>Available</label>
							</div>
							<div>
								<input type="checkbox" value="NOT AVAILABLE" class="not-available"/>
								<label>Not Available</label>
							</div>
						</section>
						<hr class="soft-gradient">
						<section>
							<p>RATING</p>
							<div class="filter-rating">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</section>
						<hr class="soft-gradient">
						<section>
							<p>PRICE</p>
							<div>
								<input type="checkbox" value="NOT AVAILABLE" class="not-available"/>
								<label>Highest Price</label>
							</div>
							<div>
								<input type="checkbox" value="NOT AVAILABLE" class="not-available"/>
								<label>Lowest Price</label>
							</div>
							<div class="price-range">
								<input type="range" name="price" min="0" max="500" value="50" step="1" oninput="document.getElementById('priceValue').textContent = this.value">
							</div>
						</section>
						<hr class="soft-gradient">
						<section>
							<p>QUANTITY</p>
							<div class="price-range">
								<input type="range" name="price" min="0" max="500" value="50" step="1" oninput="document.getElementById('priceValue').textContent = this.value">
							</div>
						</section>
					</div>
				</div>
				<div class="items">
					<div class="item-nav">
						<div class="search-filter">
							<button>SEARCH</button>
							<input type="search" placeholder="Search" class="search"/>
						</div>
						<div class="pagination">
							<button class="prev-btn"><img th:src="@{/images/left-arrow.png}"/> PREV</button>
							<input class="input-page" type="text" value="1"/>
							<button class="next-btn" disable>NEXT <img th:src="@{/images/right-arrow.png}"/></button>
						</div>					
 					</div>
					<div class="items-body" id="items-body">
						
					</div>
				</div>
			</div>
		</main>
		<aside th:replace="~{aside/aside :: content}"></aside>
	</div>
	
	<div class="modal" id="borrowModal">
		<div class="modal-content">
			<div class="modal-header">
				BORROW REQUEST
			</div>
			<div class="modal-body">
				<form id="requestForm" th:action="@{/inventory/request}" method="POST">
					<input type="hidden" name="encryptedId" value="" id="encryptedId"/>
					
					<div class="field">
					  <label>Item Name</label>
					  <span class="item-name">Hammer</span>
					</div>
					<hr class="soft-gradient">
					<div class="field">
					  <label>Price</label>
					  <span class="item-price">P100</span>
					</div>
					<hr class="soft-gradient">
					<div class="field">
					  <label>Available Qty:</label>
					  <span class="item-qty">100</span>
					</div>
					<hr class="soft-gradient">
					<div class="field">
						<label>Date to Borrow</label>
						<input type="date" name="dateToBorrow" required/>
					</div>
					<hr class="soft-gradient">
					<div class="field">
						<label>Date to Return</label>
						<input type="date" name="dateToReturn" required/>
					</div>
					<hr class="soft-gradient">
					<div class="field">
						<label>How Many to Borrow</label>
						<input type="text" name="qty" required/>
					</div>
				</form>	
			</div>
			<div class="modal-footer">
				Once confirmed, this action cannot be undone.
				<div>
					<button class="cancel" name="cancel">CANCEL</button>
					<button form="requestForm">CONFIRM</button>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/script/modal.js}"></script>
	<script th:src="@{/script/pagination.js}"></script>
	<script th:src="@{/script/loading.js}"></script>
	<script th:src="@{/script/inventory/inventory.js}"></script>
	
</body>
</html>