<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<aside th:fragment="content">
			<div class="profile">
				<span class="notification" data-count="3">
					<img th:src="@{/images/notification-bell.png}" alt="bell">
				</span>			
				<div>
					<label th:text="${session.role}">User</label>
					<span th:text="${session.fullname}">User</span>
				</div>
				<img class="down" th:src="@{/images/down.png}" alt="down">
				<div class="settings inactive">
					<form th:action="@{/logout}" method="post">
					    <button type="submit">Profile</button>
					</form>
					<hr class="soft-gradient">
					<form th:action="@{/logout}" method="post">
					    <button type="submit">Settings</button>
					</form>
					<hr class="soft-gradient">
            		<form th:action="@{/logout}" method="post">
					    <button type="submit">Logout</button>
					</form>
				</div>
			</div>
			<div class="content">
			
			</div>
			<script>
			document.addEventListener("DOMContentLoaded", () => {
			    const downIcon = document.querySelector(".profile .down");
			    const settings = document.querySelector(".profile .settings");
			    const profile = document.querySelector(".profile");

			    downIcon.addEventListener("click", () => {
			        settings.classList.toggle("active");
			        settings.classList.toggle("inactive");

			        if (settings.classList.contains("active")) {
			            // Get profile position
			            const rect = profile.getBoundingClientRect();
						
			            console.log(rect);
			            // Position dropdown relative to profile
			            settings.style.position = "absolute";
			            settings.style.right = `${0}rem`;
			      
			        }
			    });
			});


			</script>
		</aside>
</body>
</html>