<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
</head>
<body>
	<aside th:fragment="content">	
			<div class="profile">
				<span class="notification-icon" data-count="0">
					<span class="bell-container">
						<img class="bell-icon" th:src="@{/images/notification-bell.png}" alt="bell">
					</span>
				</span>			
				<div>
					<label th:text="${session.role}">User</label>
					<span th:text="${session.fullname}">User</span>
				</div>
				<img class="down" th:src="@{/images/down.png}" alt="down">
				<div class="settings inactive">
					<form th:action="@{/logout}" method="post">
					    <button type="submit">Profile</button>
					</form>
					<hr class="soft-gradient">
					<form th:action="@{/logout}" method="post">
					    <button type="submit">Settings</button>
					</form>
					<hr class="soft-gradient">
            		<form th:action="@{/logout}" method="post">
					    <button type="submit">Logout</button>
					</form>
				</div>
				<div class="notifications inactive">
					<div class="title">Notifications</div>
					<hr class="soft-gradient">
					<div class="notifications-list">
					</div>
					<button>SHOW ALL NOTIFICATIONS</button>
				</div>
			</div>
			
			<th:block sec:authorize="hasAuthority('BORROWER')">
				<div class="aside-content">
					<div class="title">
						Currently Borrowed
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Hammer</span>
						<span>09/05/2025 → 09/11/2025</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Hammer</span>
						<span>09/05/2025 → 09/11/2025</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Hammer</span>
						<span>09/05/2025 → 09/11/2025</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Hammer</span>
						<span>09/05/2025 → 09/11/2025</span>
					</div>
				</div>
				
				<div class="aside-content">
					<div class="title">
						Items to return
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Screwdriver</span>
						<span>Qty: 3</span>
						<span>Return by: 09/20/2025</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Screwdriver</span>
						<span>Qty: 3</span>
						<span>Return by: 09/20/2025</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Screwdriver</span>
						<span>Qty: 3</span>
						<span>Return by: 09/20/2025</span>
					</div>
				</div>
				
				<div class="aside-content">
					<div class="title">
						Pending Request
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Screwdriver</span>
						<span>Qty: 3</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Screwdriver</span>
						<span>Qty: 3</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Screwdriver</span>
						<span>Qty: 3</span>
					</div>
				</div>
			
			</th:block>
			
			<th:block sec:authorize="hasAuthority('LENDER')">
				<div class="aside-content">
					<div class="title">
						Currently Borrowed
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Hammer</span>
						<span>09/05/2025 → 09/11/2025</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Hammer</span>
						<span>09/05/2025 → 09/11/2025</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Hammer</span>
						<span>09/05/2025 → 09/11/2025</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Hammer</span>
						<span>09/05/2025 → 09/11/2025</span>
					</div>
				</div>
				
				<div class="aside-content">
					<div class="title">
						Items to return
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Screwdriver</span>
						<span>Qty: 3</span>
						<span>Return by: 09/20/2025</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Screwdriver</span>
						<span>Qty: 3</span>
						<span>Return by: 09/20/2025</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Screwdriver</span>
						<span>Qty: 3</span>
						<span>Return by: 09/20/2025</span>
					</div>
				</div>
				
				<div class="aside-content">
					<div class="title">
						Pending Request
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Screwdriver</span>
						<span>Qty: 3</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Screwdriver</span>
						<span>Qty: 3</span>
					</div>
					<hr class="soft-gradient">
					<div class="content-item">
						<span>Screwdriver</span>
						<span>Qty: 3</span>
					</div>
				</div>
			
			</th:block>
			
			<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    		<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
			<script th:src="@{/script/notification/websocket.js}"></script>
			<script th:src="@{/script/notification/notification-api.js}"></script>
			<script>
			document.addEventListener("DOMContentLoaded", () => {
			    const downIcon = document.querySelector(".profile .down");
			    const notificationIcon = document.querySelector('.profile .notification-icon'); 
			    const settings = document.querySelector(".profile .settings");
			    const notifications = document.querySelector('.profile .notifications');
			    const profile = document.querySelector(".profile");

			    downIcon.addEventListener("click", () => {
			        settings.classList.toggle("active");
			        settings.classList.toggle("inactive");

			        if (settings.classList.contains("active")) {
 	
			            // Get profile position
			            const rect = profile.getBoundingClientRect();
						
			            console.log(rect);
			            // Position dropdown relative to profile
			            settings.style.position = "absolute";
			            settings.style.right = `${0}rem`;
			            
			            
			      		
			        }
			    });
			    
			    notificationIcon.addEventListener("click", () => {
			    	notifications.classList.toggle("active");
			    	notifications.classList.toggle("inactive");
			    	
			    	const bellContainer = notificationIcon.querySelector('.bell-container');
			    	
			    	if(bellContainer) bellContainer.classList.remove('pulsating-circle');
			    	
			    	const bell = notificationIcon.querySelector('.bell-icon');
			    	
			    	if(bell) bell.classList.remove('bell');
			    	
			        if (notifications.classList.contains("active")) {

			        	

			        	updateNotificationModal(notificationIcon);
			        	
			            // Get profile position
			            const rect = profile.getBoundingClientRect();
						
			            console.log(rect);
			            // Position dropdown relative to profile
			            notifications.style.position = "absolute";
			            notifications.style.right = `${0}rem`;
			      
			        }
			    });
			});


			</script>
		</aside>
</body>
</html>