<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BW | Request</title>
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/request/request-view.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="container-msg" id="msgContainer" >
			<div class="success-msg" th:if="${successMsg != null}">
				<div class="icon-msg">
					<img th:src="@{/images/check.png}" alt="success"/>
				</div>
				<div class="content-msg">
					<span class="header-msg">SUCCESS</span>
					<span class="body-msg" th:text="${successMsg}"></span>
				</div>
				<div class="progress-bar"></div>
			</div>
			<div class="error-msg" th:if="${errorMsg != null}">
				<div class="icon-msg">
					<img th:src="@{/images/check.png}" alt="success"/>
				</div>
				<div class="content-msg">
					<span class="header-msg">ERROR</span>
					<span class="body-msg" th:text="${errorMsg}"></span>
				</div>
				<div class="progress-bar"></div>
			</div>
			
			
			
		</div>
		<nav th:replace="~{sidebar/sidebar :: content}"></nav>
		<main>
			<div class="content-header">BORROW REQUESTS</div>
			<div class="content-body">
				<div class="item-statistics">
					<div>
						<label><img th:src="@{/images/friends.png}" >Total Request</label>
						<span>
							100
						</span>
					</div>
										<div>
						<label><img th:src="@{/images/friends.png}" >Pending Request</label>
						<span>
							100
						</span>
					</div>
					<div>
						<label><img th:src="@{/images/friends.png}" >Completed Request</label>
						<span>
							100
						</span>
					</div>
					<div>
						<label><img th:src="@{/images/friends.png}" >Rejected Request</label>
						<span>
							100
						</span>
					</div>
				</div>
				<div class="table-container">
					<div class="table-buttons">
						<div class="btns">
							<button>FILTER BY</button>
						</div>
						<div class="pagination">
							<button class="prev-btn"><img th:src="@{/images/left-arrow.png}"/> PREV</button>
							<input class="input-page" type="text" value="1"/>
							<button class="next-btn" disable>NEXT <img th:src="@{/images/right-arrow.png}"/></button>
						</div>
					</div>
					<div class="table">
						<div class="table-header">
							<div class="table-cell"><img th:src="@{/images/user.png}"> BORROWER</div>
							<div class="table-cell"><img th:src="@{/images/user.png}"> LENDER</div>
							<div class="table-cell"><img th:src="@{/images/box.png}"> ITEM NAME</div>
							<div class="table-cell"><img th:src="@{/images/price-tag.png}"> PRICE</div>
							<div class="table-cell"><img th:src="@{/images/quality.png}"> QTY TO BORROW</div>
							<div class="table-cell"><img th:src="@{/images/calendar.png}"> DATE TO BORROW</div>
							<div class="table-cell"><img th:src="@{/images/calendar.png}"> DATE TO RETURN</div>
							<div class="table-cell"><img th:src="@{/images/rotate.png}"> STATUS</div>
							<div class="table-cell"><img th:src="@{/images/calendar.png}"> CREATED DATE</div>
							<div class="table-cell"><img th:src="@{/images/calendar.png}"> UPDATED DATE</div>
							<div class="table-cell"><img th:src="@{/images/double-tap.png}"> ACTION</div>
						</div>
						<div class="table-body" id="table-body">
						
						</div>
					</div>
				</div>
			</div>
		</main>
		<aside th:replace="~{aside/aside :: content}"></aside>
	</div>
	<form style="display: none" th:action="@{/admin/inventory/edit}" method="GET" id="editForm">
		<input type="hidden" name="encryptedId" value="" id="hiddenEncryptedId"/>
	</form>
	
	<div class="modal" id="approveModal">
		<div class="modal-content">
			<div class="modal-header">
				APPROVE REQUEST
			</div>
			<div class="modal-body">
				<form id="saveForm" th:action="@{/admin/request/approve}" method="POST">
					<input type="hidden" name="encryptedId" value="" id="encryptedId"/>
					
					<div class="field">
					  <label>Item Name</label>
					  <span class="item-name">Hammer</span>
					</div>
					<hr class="soft-gradient">
					<div class="field">
					  <label>Price</label>
					  <span class="item-price">P100</span>
					</div>
					<hr class="soft-gradient">
					<div class="field">
						<label>Date to Borrow</label>
						<span class="date-to-borrow">P100</span>
					</div>
					<hr class="soft-gradient">
					<div class="field">
						<label>Date to Return</label>
						<span class="date-to-return">P100</span>
					</div>
					<hr class="soft-gradient">
					<div class="field">
						<label>Number to Borrow</label>
						<span class="number-to-borrow">P100</span>
					</div>
				</form>	
			</div>
			<div class="modal-footer">
				Once confirmed, this action cannot be undone.
				<div>
					<button class="cancel" name="cancel">CANCEL</button>
					<button class="borrow-btn approve-btn" form="saveForm">APPROVE</button>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/script/pagination.js}"></script>
	<script th:src="@{/script/loading.js}"></script>
	<script th:src="@{/script/submit.js}"></script>
	<script th:src="@{/script/modal.js}"></script>
	<script th:src="@{/script/request/a-request-api.js}"></script>
</body>
</html>