<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BW | User Create</title>
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/user/user-create.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<nav th:replace="~{sidebar/sidebar :: content}"></nav>
		<main>
			<div class="content-header">USERS > ADD USER</div>
			<div class="content-body">
				<div class="content">
					<form th:action="@{/admin/user/create}" th:object="${userDto}" method="POST" id="saveForm">
					    <div class="field bold">
					        <label>PERSON INFORMATION</label>
					    </div>
						<hr class="soft-gradient">
					    <div class="field">
					        <label>FIRST NAME</label>
					        <input type="text" name="firstName" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('firstName')}"
					              th:text="${fieldErrors['firstName']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>MIDDLE NAME</label>
					        <input type="text" name="middleName" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('middleName')}"
					              th:text="${fieldErrors['middleName']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>FAMILY NAME</label>
					        <input type="text" name="familyName" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('familyName')}"
					              th:text="${fieldErrors['familyName']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>ADDRESS</label>
					        <input type="text" name="address" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('address')}"
					              th:text="${fieldErrors['address']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>EMAIL ADDRESS</label>
					        <input type="email" name="emailAddress" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('emailAddress')}"
					              th:text="${fieldErrors['emailAddress']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>PHONE NUMBER</label>
					        <input type="text" name="phoneNumber" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('phoneNumber')}"
					              th:text="${fieldErrors['phoneNumber']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>BIRTH DATE</label>
					        <input type="date" name="birthDate" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('birthDate')}"
					              th:text="${fieldErrors['birthDate']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>GENDER</label>
					        <select name="gender">
					            <option value="MALE">Male</option>
					            <option value="FEMALE">Female</option>
					            <option value="OTHER">Other</option>
					        </select>
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('gender')}"
					              th:text="${fieldErrors['gender']}"></span>
					    </div>
					   	<hr class="soft-gradient">
					   	<br>

					
					    <div class="field bold">
					        <label>ACCOUNT INFORMATION</label>
					    </div>
						<hr class="soft-gradient">
					    <div class="field">
					        <label>USER ID</label>
					        <input type="text" name="userId" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('userId')}"
					              th:text="${fieldErrors['userId']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>PASSWORD</label>
					        <input type="password" name="password" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('password')}"
					              th:text="${fieldErrors['password']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>ROLE</label>
					        <select name="role">
					            <option value="BORROWER">BORROWER</option>
					            <option value="LENDER">LENDER</option>
					            <option value="ADMIN">ADMIN</option>
					        </select>
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('role')}"
					              th:text="${fieldErrors['role']}"></span>
					    </div>
					</form>


					<div class="form-btn">
						<a class="button" th:href="@{/admin/user}">BACK</a>
						<button type="submit" form="saveForm" class="save-btn">SAVE</button>
					</div>
				</div>			
			</div>
		</main>
		<aside th:replace="~{aside/aside :: content}"></aside>
	</div>
	<script th:src="@{/script/loading.js}"></script>
	<script th:src="@{/script/submit.js}"></script>
</body>
</html>