<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BW | User Edit</title>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/user/user-create.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<nav th:replace="~{sidebar/sidebar :: content}"></nav>
		<main>
			<div class="content-header">USERS > EDIT USER</div>
			<div class="content-body">
				<div class="content">
					<form th:action="@{/admin/user/edit}" th:object="${userDto}" method="POST" id="saveForm">
					    <input type="hidden" name="encryptedId" th:value="${userDto.encryptedId}" />
					
					    <div class="field bold">
					        <label>PERSON INFORMATION</label>
					    </div>
					
					    <div class="field">
					        <label>FIRST NAME</label>
					        <input type="text" name="firstName" th:value="*{firstName}" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('firstName')}"
					              th:text="${fieldErrors['firstName']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>MIDDLE NAME</label>
					        <input type="text" name="middleName" th:value="${userDto.middleName}" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('middleName')}"
					              th:text="${fieldErrors['middleName']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>FAMILY NAME</label>
					        <input type="text" name="familyName" th:value="${userDto.familyName}" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('familyName')}"
					              th:text="${fieldErrors['familyName']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>ADDRESS</label>
					        <input type="text" name="address" th:value="${userDto.address}" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('address')}"
					              th:text="${fieldErrors['address']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>EMAIL ADDRESS</label>
					        <input type="email" name="emailAddress" th:value="${userDto.emailAddress}" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('emailAddress')}"
					              th:text="${fieldErrors['emailAddress']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>PHONE NUMBER</label>
					        <input type="number" name="phoneNumber" th:value="${userDto.phoneNumber}" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('phoneNumber')}"
					              th:text="${fieldErrors['phoneNumber']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>BIRTH DATE</label>
					        <input type="date" name="birthDate" th:value="${userDto.birthDate}" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('birthDate')}"
					              th:text="${fieldErrors['birthDate']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>GENDER</label>
					        <select name="gender">
					            <option value="MALE" th:selected="${userDto.gender == 'MALE'}">MALE</option>
					            <option value="FEMALE" th:selected="${userDto.gender == 'FEMALE'}">FEMALE</option>
					            <option value="OTHER" th:selected="${userDto.gender == 'OTHER'}">OTHER</option>
					        </select>
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('gender')}"
					              th:text="${fieldErrors['gender']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field bold">
					        <label>ACCOUNT INFORMATION</label>
					    </div>
					
					    <div class="field">
					        <label>USER ID</label>
					        <input type="text" name="userId" th:value="${userDto.userId}" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('userId')}"
					              th:text="${fieldErrors['userId']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>PASSWORD</label>
					        <input type="password" name="password" value="0000000000" />
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('password')}"
					              th:text="${fieldErrors['password']}"></span>
					    </div>
					    <hr class="soft-gradient">
					
					    <div class="field">
					        <label>ROLE</label>
					        <select name="role">
					            <option value="BORROWER" th:selected="${userDto.role == 'BORROWER'}">BORROWER</option>
					            <option value="LENDER" th:selected="${userDto.role == 'LENDER'}">LENDER</option>
					            <option value="ADMIN" th:selected="${userDto.role == 'ADMIN'}">ADMIN</option>
					        </select>
					        <span class="error"
					              th:if="${fieldErrors != null and fieldErrors.containsKey('role')}"
					              th:text="${fieldErrors['role']}"></span>
					    </div>
					</form>


					<div class="form-btn">
						<a class="button" th:href="@{/admin/user}"><img th:src="@{/images/left-arrow.png}"> BACK</a>
						<button type="submit" form="saveForm" class="update-btn">SAVE</button>
					</div>
				</div>			
			</div>
		</main>
		<aside th:replace="~{aside/aside :: content}"></aside>
	</div>
	<script th:src="@{/script/loading.js}"></script>
	<script th:src="@{/script/submit.js}"></script>
</body>
</html>